@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

.intro-content {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}